
<br>
 <div class="row">
    <div class="col text-center">
            <img src="../assets/images/logo.png" class="rounded" alt="Logo" size=10> 
    </div>
    <div class="col">
        <br>
        <br>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/tracker">Tracker</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col"></div>
    <div class="col">
        <br>
        <br>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/persons">Persons</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink="/cameras">Cameras</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <br>
        <br>
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in" >Sign in</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" routerLink="/sign-up">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col"></div>
  </div> 
  <br>
  <router-outlet></router-outlet>

    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Attendance Tracker </h4>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"href="#"> aliizadi2030@gmail.com </a></li>
                        <br/>
                        <li> <p> Tehran Amirkabir university of technology</p> </li>
                    </ul>
                </div>
            </div>
            <br>
            <p class="pull-left copyright"> Copyright © Amirkabir university of technology 2019. All right reserved. </p>

        </div>
    </div>
