
  <div class="loader"></div>
  <div id="myDiv">
    <!--HEADER-->
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
                <h1 class="bnr-title">فردیاب</h1>
                <h2 class="bnr-sub-title"> بازشناسی و ثبت تردد افراد در ويدئوهای دوربين های مدار بسته</h2>
                <p class="bnr-para">فرد یاب با استفاده از پردازش تصویر و یادگیری عمیق ورود و خروج افراد را به صورت خودکار ثبت می‌کند</p>
                <div class="overlay-detail">
                  <a href="#feature"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->
    <section id="feature" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../../assets/ser03.png">
              </div>
              <h3 class="pad-bt15">گزارش گیری</h3>
              <p>با وارد کردن فیلترهای جست و جو گزارش تردد افراد را به صورت فایل دریافت کنید</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../../assets/ser02.png">
              </div>
              <h3 class="pad-bt15">ثبت دوربین‌ها</h3>
              <p>با اضافه کردن اطلاعات دوربین‌ها و ناحیه و ورود و خروج آن‌ها تردد افراد را از محوطه این دوربین‌ها به صورت خودکار دریافت کنید</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../../assets/ser01.png">
              </div>
              <h3 class="pad-bt15">تردد افراد</h3>
              <p>با استفاده ار این سامانه میتوانید ورود و خروج افراد ثبت شده در سیستم را در ساعات و تاریخ مشخص به صورت خودکار هنگام عبور از محوطه دوربین‌های مداربسته دریافت کنید</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <!---->
    <section id="service" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">فردیاب</h2>
            <p class="sub-title pad-bt15">با اضافه کردن عکس به آلبوم عکس افراد و ویرایش ترددهای ثبت شده دقت ترددها را بالا ببرید</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 text-right">
            <div class="service-item">
              <h3>ترددها</h3>
              <p>با ویرایش ترددها میتوانید دقت ثبت خودکار ترددها را بالا ببرید</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 text-right">
            <div class="service-item">
              <h3>افراد</h3>
              <p>اطلاعات افراد جدید را به سیستم اضافه کنید تا تردد آنها به صورت خودکار ثبت شود</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 text-right">
            <div class="service-item">
              <h3>دوربین ها</h3>
              <p>ابتدا اطلاعات دوربین‌ها را وارد کنید تا اتصال به آن‌ها با موفقیت انجام شود</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <!---->
    <!---->
    <!---->
    <section id="testimonial" class="wow fadeInUp delay-05s">
      <div class="bg-testicolor">
        <div class="container section-padding">
          <div class="row">
            <div class="testimonial-item">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <!---->
    <!---->
    <!---->
  </div>
