<img src="../assets/images/header.png" alt="header" width="100%"> 
<hr>
<br>
<br>
<br>
<br>
<div class="row">
      <div class="col"></div>
      <div class="col">
          <h3 style="color: #339966;"><b>Attendance Tracker</b> is the only truly free attendance tracker that helps you track work time and employee attendance.</h3>
          <br>
          <h4 style="color: #339966;"><b>See</b> who was present</h4>               
      </div>
      <div class="col"></div>
      <div class="col"></div>
</div>
<br>
<br>
<hr>
<br>
<br>

<div class="row">
      <div class="col"></div>
      <div class="col">
          <h3 style="color: #339966;"><b>Attendance tracking features:</b></h3>
          <br>
          <h4 style="color: #339966;"><b>Employees</b> can start a timer via web, desktop, and mobile app to track their attendance. Clocking-in and clocking-out can also be automated so the timer automatically starts and ends when they turn on the browser.</h4>            
      </div>
      <div class="col"></div>
      <div class="col"></div>
</div>    

<br>
<br>
<hr>
<img src="../assets/images/middle.png" alt="header" width="100%"> 
