<div class="card bg-success text-white">
  <div class="card-body">Tag Persons:</div>
</div>
  
<br>

<div class="row">
  <div class="col-md-3">
      <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <br><br>
              <form>
                <div class="form-group">
                  <label>First Name:</label>
                  <input type="text" class="form-control" id="fname" name="firstname">
                </div>
                <div class="form-group">
                  <label>Last Name:</label>
                  <input type="text" class="form-control" id="lname" name="lastname">
                </div>
                <button type="submit" class="btn btn-primary btn-block">save</button>
                <br>
                <button type="submit" class="btn btn-primary btn-block">next person</button>
                <br>
                <button type="submit" class="btn btn-primary btn-block">next video</button>

              </form>
              <br><br><br><br>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-6" >
    <video class="centered" controls>
        <source src="../../assets/images/outpy.mp4" type="video/mp4">
    </video>  
  </div>
  <div class="col-md-3" style="background-color: white;"></div>
</div>
