<br>
<div class="row justify-content-end">
  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
    mdbWavesEffect>اضافه کردن فرد</button>
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-right" id="myModalLabel">اضافه کردن فرد</h4>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

                <div class="form-group text-right">
                  <label>نام</label>
                  <input type="text" formControlName="firstName" class="form-control text-right" />
                  <div *ngIf="f.firstName.errors">
                    <div *ngIf="f.firstName.errors.required" class="text-danger text-right">نام را وارد کنید</div>
                  </div>
                </div>

                <div class="form-group text-right">
                  <label>نام خانوادگی</label>
                  <input type="text" formControlName="lastName" class="form-control text-right" />
                  <div *ngIf="f.lastName.errors">
                    <div *ngIf="f.lastName.errors.required" class="text-danger text-right">نام خانوادگی را وارد کنید
                    </div>
                  </div>
                </div>

                <div class="form-group text-right">
                  <label>سن</label>
                  <input type="text" formControlName="age" class="form-control text-right" />
                  <div *ngIf="f.age.errors">
                    <div *ngIf="f.age.errors.pattern" class="text-danger text-right">سن را به عدد انگلیسی وارد کنید
                    </div>
                  </div>
                </div>

                <div class="form-group text-right">
                  <label>قد</label>
                  <input type="text" formControlName="height" class="form-control text-right" />
                  <div *ngIf="f.height.errors">
                    <div *ngIf="f.height.errors.pattern" class="text-danger">قد را به صورت عدد انگلیسی وارد کنید</div>
                  </div>
                </div>


                <div class="form-group text-right">
                  <label>توضیحات</label>
                  <input type="text" formControlName="description" class="form-control text-right" />
                </div>

                <div class="form-group">
                  <button [disabled]="!signUpForm.valid" type="submit" mdbBtn color="primary"
                    class="relative waves-light" (click)="basicModal.hide()" mdbWavesEffect>ذخیره</button>
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="basicModal.hide()" mdbWavesEffect>بستن</button>

                </div>

              </form>

              <div *ngIf="isSigned">
                <div class="text-danger">{{message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div>
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" style="text-align:right;" placeholder="جست و جو کنید">
</div>

<br>

<div class="row justify-content-end">
  <div class="col-md-4" *ngFor="let person of persons.persons | filter:searchText | paginate: { id: 'foo', itemsPerPage: pageSize, currentPage: currentPage}">
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title class="text-right">
          <h4>{{person.firstName}} {{person.lastName}}</h4>
        </mdb-card-title>
        <div *ngIf="allImages[person.id]!=null; else elseBlock">
          <img src="{{IMAGE_URL.concat(allImages[person.id].concat('.png'))}}" style="width: 100px; height: 100px;" alt=""> 
        </div>
        <ng-template #elseBlock>
          <img src="../../assets/white.png" style="width: 100px; height: 100px;" alt=""> 
        </ng-template>

        <mdb-card-text class="text-right">توضیحات: {{person.description}}
        </mdb-card-text>
        <a mdbBtn color="primary" (click)="getPerson(person.id)" mdbWavesEffect>مشاهده</a>
      </mdb-card-body>
    </mdb-card>
    <br>
  </div>
</div>

<pagination-controls (pageChange)="currentPage = $event" id="foo" previousLabel='قبلی' nextLabel='بعدی'></pagination-controls>
